$siteBgColor: "washed-blue" ;
$sidebarBgColor: "lightest-blue" ;
$textColor: "near-black" ;
$sidebarTextColor: "near-black" ;
$headlineColor: "navy" ;
$headingColor: "near-black" ;
$bodyLinkColor: "blue" ;
$navLinkColor: "near-black" ;
$sidebarLinkColor: "near-black" ;
$footerTextColor: "mid-gray" ;
$buttonTextColor: "near-white" ;
$buttonBgColor: "black" ;
$buttonHoverTextColor: "white" ;
$buttonHoverBgColor: "dark-blue" ;
$borderColor: "moon-gray" ;
